extends ./layout/index

block contenido
  main.container.mt-5
    h1.text-center.mb-5 Editar Guía Turístico

    .row.justify-content-center
      .col-md-8.card.p-4
        // Mostrar imagen actual
        if guia.foto
          img.img-fluid.mb-3(src=`${process.env.BASE_URL}${guia.foto}`, alt=`Foto actual de ${guia.nombre}`)
        else
          img.img-fluid.mb-3(src=`${process.env.BASE_URL}/uploads/guias/default.jpg`, alt="Imagen por defecto")

        form(action=`/admin/guias/editar/${guia.id}?_method=PUT`, method="POST", enctype="multipart/form-data")
          .mb-3
            label.form-label(for="foto") Foto (Opcional)
            input#foto.form-control(type="file" name="foto", accept="image/*")

          .mb-3
            label.form-label(for="nombre") Nombre
            input#nombre.form-control(type="text" name="nombre" value=guia.nombre required)
          .mb-3
            label.form-label(for="apellido") Apellido
            input#apellido.form-control(type="text" name="apellido" value=guia.apellido required)
          .mb-3
            label.form-label(for="telefono") Teléfono
            input#telefono.form-control(type="text" name="telefono" value=guia.telefono)
          .mb-3
            label.form-label(for="email") Email
            input#email.form-control(type="email" name="email" value=guia.email)
          button.btn.btn-primary(type="submit") Guardar
          a.btn.btn-secondary(href="/admin/guias") Cancelar